<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST coutries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div>
        <header>
            <h1 id="logo">Coutries Infos</h1>
        </header>
        <section class="form">
            <div>
                <label for="country">To</label><br>
                <input class="" type="text" id="country" placeholder="Enter country">
            </div>
            <button id="generate" type="submit"> Go! </button>
        </section>
        <section class="content">
            <p class="capital"></p>
            <p class="currency"></p>
            <img class="flag">
            <p class="region"></p>
        </section>
        <footer>
            <p></p>
        </footer>
    </div>
</body>
</html>